body, .ui-widget { background: #a52b41 url('/images/BG.png') repeat-x; font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif," "Bitstream Vera Serif", "Liberation Serif", Georgia, serif; }
.ui-widget-header { background:  #27A7D4; border: 1px solid #1062A9;  }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { color: #1062A9;background: #C5D3B9; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #1062A9; background: #C5D3B9; }
.ui-widget-content,.ui-tabs .ui-tabs-panel {  background-color: #C5D3B9 }
.ui-widget-content { background-color: inherit } 

form ul
{
	font-size:100%;
	list-style-type:none;
	margin:0;
	padding:0;
	width:100%;
}

form li
{
	display:block;
	margin:0;
	padding:4px 5px 2px 9px;
	position:relative;
}

form li:after
{
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}

.buttons:after
{
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}

.buttons
{
	clear:both;
	display:block;
	margin-top:10px;
}

form li div label
{
	clear:both;
	color:#444;
	display:block;
	font-size:9px;
	line-height:9px;
	margin:0;
	padding-top:3px;
}

form li span label
{
	clear:both;
	color:#444;
	display:block;
	font-size:9px;
	line-height:9px;
	margin:0;
	padding-top:3px;
}
/**** Inputs and Labels ****/
label.description
{
	border:none;
	color:#222;
	display:block;
	font-size:95%;
	font-weight:700;
	line-height:150%;
	padding:0 0 1px;
}

